attrs==19.3.0
autopep8==1.5.3
beautifulsoup4==4.9.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==5.4.3
rope==0.17.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
wcwidth==0.2.5
